:root {
  --primary-color: #4caf50;
  --light-green: #c8e6c9;
}
h2 {
  padding-top: 4rem;
  color: var(--primary-color);
  font-weight: 700;
  text-shadow: 1px 1px #fff;
}
h2,
.navbar,
#about p,
#projects p,
footer p,
a {
  font-family: "Poppins", sans-serif;
}
#about p {
  font-size: 1.1rem;
}
.navbar {
  background-color: var(--primary-color);
}
.hero {
  padding-top: 5rem;
  background-color: var(--light-green);
}
.hero-img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  object-position: center;
}
#projects {
  background-color: var(--light-green);
}
.btn-primer {
  background-color: var(--primary-color);
  border-color: #5dcc60;
  color: white;
}
.btn-primer:hover,
.btn-primer:focus {
  color: white;
  background-color: #5dcc60;
  border-color: var(--primary-color);
}
.card {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.card:hover {
  position: relative;
  z-index: 9999;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding-bottom: 1.2rem;
}
i {
  color: #fff;
  font-size: 1.5rem;
  padding: 0 0.3rem;
}
i:hover {
  color: var(--light-green);
}

@media screen and (max-width: 576px) {
  .card:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;
  }
}
